<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дюна 2</title>
</head>
<body>
<h1>Дюна:Часть вторая</h1>
<img src="https://cybersport.metaratings.ru/storage/images/d7/b1/d7b14334bb0f6fdb82c50c92024d6f88.jpg" width="400" height="600">
<h3>Жанр: фантастика, боевик, драма</h3>
<h3>Длительность: 166 мин.</h3>
<h3>Режиссер: Дени Вильнёв</h3>
<h3>Страна: США, Канада </h3>
<h3>Рейтинг: 8.5 из 10 </h3>
<h3>В ролях: Тимоти Шаламе, Зендея, Ребекка Фергюсон, Хавьер Бардем, Джош Бролин, Остин Батлер, Флоренс Пью, Дэйв Батиста</h3>
<h3>Возрастное ограничение: 12+ </h3>
<h3>Описание: </h3>
    <h4>Герцог Пол Атрейдес присоединяется к фрименам, чтобы стать Муад Дибом, одновременно пытаясь остановить наступление войны.</h3>
<button>Просмотр трейлера</button>
<button>Начать просмотр</button>
</body>
</html>