<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Летучий корабль</title>
</head>
<body>
<h1>Летучий корабль</h1>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_65fc969253641d502c5954ad_65fc99a4fa9e5471081b719a/scale_1200" width="400" height="600">
<h3>Жанр: романтическая комедия, приключения</h3>
<h3>Длительность: 100 мин.</h3>
<h3>Режиссер: Илья Учитель</h3>
<h3>Страна: Россия </h3>
<h3>Рейтинг: 5.5 из 10 </h3>
<h3>В ролях: Александр Метёлкин, Ксения Трейстер, Андрей Бурковский, Леонид Ярмольник, Полина Гагарина, Федор Добронравов, Сергей Гармаш</h3>
<h3>Возрастное ограничение: 6+ </h3>
<h3>Описание: </h3>
    <h4>Царь собирается выдать свою дочь Забаву за красавца Поля, единственного наследника богача Полкана. Вот только царевна хочет выйти замуж по любви. Ее неожиданное знакомство с простым, но честным и обаятельным матросом Иваном вносит смуту в планы хитреца Поля заполучить корону. И если в руках злодея темная магия и богатство, то на стороне Ивана – волшебные существа, любовь и мечта.</h4>

<button>Просмотр трейлера</button>
<button>Начать просмотр</button>
</body>
</html>