<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мастер и Маргарита</title>
</head>
<body>
<h1>Мастер и Маргарита</h1>
<img src="https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_65ff216b7965b12ccc147efc_65ff228e0272791162720efe/scale_1200" width="400" height="600">
<h3>Жанр: драма, фэнтези</h3>
<h3>Длительность: 157 мин.</h3>
<h3>Режиссер: Михаил Локшин</h3>
<h3>Страна: Россия</h3>
<h3>Рейтинг: 7.9 из 10 </h3>
<h3>В ролях:
Евгений Цыганов, Юлия Снигирь, Юрий Колокольников, Марат Башаров</h3>
<h3>Возрастное ограничение: 18+ </h3>
<h3>Описание: </h3>
    <h4>Москва 30-х годов. Известный писатель на взлёте своей карьеры внезапно оказывается в центре литературного скандала. Спектакль по его пьесе снимают с репертуара, коллеги демонстративно избегают встречи, в считанные дни он превращается в изгоя. Вскоре после этого он знакомится с Маргаритой, которая становится его возлюбленной и музой. Воодушевлённый ее любовью и поддержкой писатель берется за новый роман, где персонажи – это люди из его окружения, а главный герой – загадочный Воланд, прообразом которого становится недавний знакомый иностранец. Писатель уходит с головой в мир своего романа и постепенно перестает замечать, как вымысел и реальность сплетаются в одно целое.</h4>
<button>Просмотр трейлера</button>
<button>Начать просмотр</button>

</body>
</html>