<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>
<h1>Список фильмов</h1>
<div>
    <h3><a href="/films/1/">Летучий корабль</a></h3>
    <img src="https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_65fc969253641d502c5954ad_65fc99a4fa9e5471081b719a/scale_1200" width="180" height="250">
    <h5>Царь собирается выдать свою дочь Забаву за красавца Поля, единственного наследника богача Полкана.
        Вот только царевна хочет выйти замуж по любви. Её неожиданное знакомство с простым, но честным и обаятельным матросом Иваном вносит смуту в планы…</h5>
</div>

<div>
    <h3><a href="/films/2/">Дюна: Часть вторая</a></h3>
    <img src="https://cybersport.metaratings.ru/storage/images/d7/b1/d7b14334bb0f6fdb82c50c92024d6f88.jpg" width="180" height="250">
    <h5>Герцог Пол Атрейдес присоединяется к фременам, чтобы стать Муад Дибом, одновременно пытаясь остановить наступление войны.</h5>
</div>


<div>
    <h3><a href="/films/3/">Мастер и Маргарита</a></h3>
    <img src="https://avatars.dzeninfra.ru/get-zen_doc/271828/pub_65ff216b7965b12ccc147efc_65ff228e0272791162720efe/scale_1200" width="180" height="250">
    <h5>Москва, 1930-е годы. Известный писатель на взлёте своей карьеры внезапно оказывается в центре литературного скандала. Спектакль по его пьесе снимают с репертуара, коллеги демонстративно избегают встречи, в считанные дни он превращается в изгоя… </h5>
</div>



</body>
</html>