section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.sect {
    border: 1px solid black;
    margin:  15px 40px;
    padding: 20px;
    text-align: center;

}

.sect a:link, a:visited, a:active{
    color: black;
    text-decoration: none;
}

.sect a:hover {
    text-decoration: none;
    color: #1E90FF;
   }

.sect p{
    font-size: 24px;
}