.search_container button:hover {
  background: #ccc;
}

.search_container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search_container {
  float: right;
}

/*НАВИГАЦИЯ*/


nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    margin: 0px 40px;
    border-bottom: 1px solid silver;
}


nav .auto{
    width: 30px;
    padding: 0px 10px;
}

nav div:nth-child(2){
    justify-self: end;
    align-self: center;
    padding-right: 20px;
}

nav div:nth-child(1){
    grid-column: 1;
    padding-left: 20px;
    display: flex;
    gap: 30px;
    font-size: 16pt;
    justify-content: start;
    align-items: center;

}

nav div a{
    text-decoration: 0;
    color: black;
    text-align: center;
}

nav .logo img{
width: 90%;
height: 100%;
}