<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
<div id="">
    <h2>Ваше текущее задание</h2>
    <p>{{ id }}: {{ title }}</p>
    <p>{{ description }}</p>
    <p>{{ status }}</p>
    <p>{{ date_created }}</p>
</div>
<h2>Отредактировать:</h2>
    <form method="POST" action="/my_app/edit_task/{{ id }}/">
        {% csrf_token %}

        {% for field in add_task_form %}

            {{field.label_tag}}
            <div>{{field}}</div>

            {% if field.errors%}
                {% for error in field.errors %}
                    <div style="color:red;" class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            {% endif %}

        {% endfor %}

        <input type="submit" value="Отправить" >
    </form>






</body>
</html>