<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The last day of Pompeii</title>
</head>
<body>
<h2>Последний день Помпеи</h2>
<h3>Художник: Карл Брюллов</h3>
<h3>Описание: «Последний день Помпеи» — крупноформатная картина русского художника Карла Брюллова (1799–1852), работа над которой была завершена в 1833 году.На картине изображены события в Помпеях во время катастрофического извержения Везувия, которое произошло в 79 году нашей эры.</h3>
<h3>Цена: 35000 - 40000 $.</h3>
<img src='https://img.goodfon.ru/original/4000x2788/b/3c/bryullov-posledniy-den-pompei.jpg'>"

</body>
</html>