<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The birth of Venus</title>
</head>
<body>
<h1>Рождение Венеры</h1>
<h3>Художник: Сандро Боттичелли</h3>
<h3>Описание: Картина итальянского художника флорентийской школы Сандро Боттичелли. Представляет собой живопись темперой на холсте размером 172,5 × 278,5 см. В настоящее время хранится в галерее Уффици, Флоренция. </h3>
<h3>Цена: $92,2 млн.</h3>
<img src='https://ae01.alicdn.com/kf/H13339de3fed945b8b478e0f62d9b07d6w/Sandro-Botticelli-The-Birth-of-Venus-Metal-Tin-Signs-12x8-Inch-Wall-Decor-Kitchen.jpg'>
                            )
</body>
</html>