<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mona Liza</title>
</head>
<body>
<h1>Мона Лиза</h1>
<h3>Художник: Леонардо да Винчи</h3>
<h3>Описание: «Мона Лиза» (полное название — «Портрет госпожи Лизы дель Джокондо») — картина Леонардо да Винчи, одно из самых известных произведений живописи.Точная дата написания неизвестна (по некоторым сведениям, написана между 1503 и 1505 годами).На картине изображена Лиза Герардини, супруга флорентийского торговца шёлком Франческо дель Джокондо. </h3>
<h3>Цена: $970 млн.</h3>
<img src='https://img.championat.com/s/1350x900/news/big/u/w/mona-liza-s-nogami-nejroset-dopolnila-klassicheskie-kartiny_16544453091715239255.jpg'>
</body>
</html>