<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Задачи</h1>
<img src="{% static 'images/task.jpg' %}" alt="задачи"  width="700" height="400" >
<h2>Новая задача:</h2>
<form method="POST" action="/my_app/tasks/">
    {% csrf_token %}
    <h3>Новое название</h3>
    <textarea name="taskTitle"></textarea>
    <h3>Новое описание</h3>
    <textarea name="taskDescription"></textarea>
    <h3>Новый статус</h3>
    <textarea name="taskStatus"></textarea><br>
    <input type="submit" value="отправить">

</form>

{% for el in task %}
    <div style="background:blue; color:white;" id="{{ el.id }}">
    <p>{{ el.title }}</p>
    <p>{{ el.description }}</p>
    <p>{{ el.status }}</p>
    <p>{{ el.date_created }}</p>

        <a href="../edit_task/{{ el.id }}/"><button>редактировать</button></a>
        <a href="../delete_task/{{ el.id }}/"><button>удалить</button></a>
    </div>
{% endfor %}
</body>
</html>