<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Задачи</h1>
<img src="{% static 'images/task.jpg' %}" alt="задачи"  width="700" height="400" >

<h2>Новая задача:</h2>

<form method="POST"  novalidate>
        {% csrf_token %}

        {% for field in add_task_form %}

            {{field.label_tag}}
            <div>{{field}}</div>

             {% if field.errors%}
                {% for error in field.errors %}
                    <div style="color:red;" class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}
            {% endif %}

        {% endfor %}

        <input type="submit" value="Отправить" >
    </form>

<h2>Задачи:</h2>
{% for el in task %}
    <div style="background:blue; color:white;" id="{{ el.id }}">
    <p>{{ el.title }}</p>
    <p>{{ el.description }}</p>
    <p>{{ el.status }}</p>
    <p>{{ el.date_created }}</p>

        <a href="../edit_task/{{ el.id }}/"><button>редактировать</button></a>
        <a href="../delete_task/{{ el.id }}/"><button>удалить</button></a>
    </div>
{% endfor %}
</body>
</html>