{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style-about-us.css' %}" />
{% endblock  %}

{% block title %}
    <title>О нас</title>
{% endblock  %}

{% block main_content %}

<div class="priv"><p>Добро пожаловать в Лабиринт историй, виртуальное убежище для книголюбов и жаждущих знаний!</p></div>
<div class="osnova">
    <p>В нашем тщательно отобранном каталоге вы найдете шедевры литературы всех жанров и эпох. От классики до современной прозы, от бестселлеров до инди-авторов — у нас есть книга для каждого читателя.</p>
    <p>Наша миссия проста: сделать книги доступными для всех, независимо от их местоположения или бюджета. Мы предлагаем выгодные цены, быструю доставку и превосходное обслуживание клиентов, чтобы ваш путь к любимым историям был легким и приятным.</p>
    <p>Мы ценим наших клиентов и стремимся строить с ними прочные отношения. Мы всегда открыты для ваших отзывов и предложений, поскольку мы постоянно стараемся улучшать наши услуги. </p>
    <p>Присоединяйтесь к читательскому клубу Лабиринта историй, чтобы получать эксклюзивные скидки, передовые новинки и возможность общаться с другими любителями книг.</p>
</div>
<div class="list"><h4>Наши ценности:</h4></div>
     <ol>
        <li><p>Доступность</p></li>
            <p>Мы хотим, чтобы каждый имел возможность владеть и наслаждаться любимыми книгами.</p>
        <li><p>Превосходное обслуживание</p></li>
            <p>Мы считаем, что наши клиенты заслуживают только лучшего.</p>
        <li><p>Постоянное совершенствование</p></li>
            <p>Мы постоянно работаем над тем, чтобы улучшить свои услуги и предложить нашим клиентам максимальное удобство.</p>
        <li><p>Страсть к книгам</p></li>
            <p> Мы считаем, что книги — это сокровища, которые обогащают наши жизни.</p>
      </ol>

<div class="poka"><p>Пусть Лабиринт историй станет вашим проводником в безграничный мир воображения, знаний и незабываемых впечатлений!</p></div>



{% endblock main_content %}

