<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>


ГЛАВНАЯ СТРАНИЦА
{% block main_content %}


<!--<form method="get" action="petGET/">-->
<!-- <label for="search">Search :</label>-->
<!--  <input type="search" id="search" name="search_field"> &lt;!&ndash;name - параметр запроса&ndash;&gt;-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<!-- <input type="text" id="smthfield" name="smthfield" value="something">-->
<!--<a href="petGET/?smthfield=something"> <input type="submit" value="Submit"></a> &lt;!&ndash;js од для получения значения value&ndash;&gt;-->
{% endblock main_content %}

</body>
</html>